.button{
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 20vw;
    height: 8vh;
    background-color:rgb(97, 170, 199);
    border:solid 5px black;
    border-radius: 20px;
}
.button1{
    position: absolute;
    top: 25vh;
    right: 25vw;
    width: 20vw;
    height: 8vh;
    background-color:rgb(97, 170, 199);
    border:solid 5px black;
    border-radius: 20px;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(29, 111, 143);
}
.button1:hover{
    background-color: rgb(29, 111, 143);

}
.box{
    position: absolute;
    top: 50vh;
    left: 10vw;
    width: 30vw;
    height: 35vh;
    border: solid 5px black;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(97, 170, 199);
}
.box1{
    position: absolute;
    top: 50vh;
    right: 10vw;
    width: 30vw;
    height: 35vh;
    border: solid 5px black;
    border-radius: 30px;
    text-align: center;
    background-color:rgb(97, 170, 199);
}